<h1>Editando Tweet</h1>

<%= render "form", tweet: @tweet %>

<br>

<div>
  <%= link_to "Ver este Tweet", @tweet, class: "btn btn-custom-verde" %> 
  <%= link_to "Volver a los Tweets", tweets_path, class: "btn btn-custom-azul" %>
</div>
