<h1><i class="fab fa-twitter tweet-icon"></i>Nuevo Tweet</h1>
<hr>

<%= render "form", tweet: @tweet %>

<br>

<div>
  <%= link_to "Volver a los Tweets", tweets_path, class: "btn btn-success custom-green-button" %>
</div>


